<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title><%= "Wuthering Waves Helper - A tool to better understand Genhin Waves !" %></title>
    <meta name="description" content="Découvrez l'outil ultime pour optimiser vos personnages dans Wuthering Waves : explorez nos guides détaillés sur le choix des meilleures armes, artefacts, talents individuels, et synergies d'équipe stratégiques pour maîtriser chaque aspect du jeu avec efficacité !">
    <meta name="keywords" content="Wuthering, Waves, Builds, Wuthering Waves, Waves Builds, Wuthering Waves Builds, Character builds, Wuthering Waves character builds, Team composition, Wuthering Waves team composition, Best weapons, Wuthering Waves best weapons, Artifact guide, Wuthering Waves artifact guide, Talent builds, Wuthering Waves talent builds, Optimization, Wuthering Waves optimization, Character synergy, Wuthering Waves character synergy, DPS calculation, Wuthering Waves DPS calculation, Meta builds, Wuthering Waves meta builds">
    <link rel="canonical" href="liendelapageoriginalle.com" />
    <link rel="icon" type="image/png" href="favicon.png">
</head>
<body>    
    <header>
        <h1>Wuthering Waves Helper</h1>
    </header>
    
    <nav><%- include('navbar') %></nav>
    
    <%- content %>

    <footer>
        <p>&copy; 2024 Tous droits réservés.</p>
    </footer>
</body>
</html>
