<%- include('layout.ejs', {
    title: title,
    content: `
    <main>
        <section>
            <h2>${title}</h2>
            <p>Contenu de la page ${title}...</p>
        </section>
    </main>
    `
    })
%>
    